<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <title>Parole - Regards Citoyens</title>
 <link href="css/roboto.css" rel="stylesheet">
 <link href="css/vuetify.min.css" rel="stylesheet">
<style>
html {
  overflow: hidden;
}
.subheader {
  text-transform: uppercase;
}
.list [disabled], .list .selected {
  background-color: #f44336;
  opacity: 0.8!important;
}
.input-group.input-group--selection-controls.switch {
  left: 35%;
}
.axis path, .axis line {
  stroke: grey;
}
.axis text {
  fill: grey;
  font-size: 14px;
  font-family: Roboto;
}
.legende {
  position: relative;
  bottom: 90px;
}
.legende button {
  color: black!important;
  font-weight: bold;
}
rect.tooltip {
  fill: black;
  fill-opacity: 0;
}
.tooltipBox {
  background: white;
  border: 1px solid black;
  display: none;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 7px;
  font-size: 14px;
  z-index: 1000;
}
</style>
</head>
<body>
  <div id="parole">
  <v-app dark toolbar v-resize="onResize">
    <v-navigation-drawer permanent clipped absolute>
      <v-list
        v-for="list in menus"
        :key="list.id"
        dense
      >
        <v-subheader class="mt-3 grey--text text--darken-1">{{ list.name }}</v-subheader>
        <v-list-tile
          v-for="item in list.options"
          :key="item.id"
          :disabled="list.selected === item.id"
          :class="{'selected': item.selected}"
          @click="selectOption(item.id, list.id, $event)"
          ripple
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ item.name }}
            </v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch v-if="list.multi" v-model="item.selected" light disabled></v-switch>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar class="red" fixed>
      <v-toolbar-title>
        Parole
      </v-toolbar-title>
    </v-toolbar>
    <main>
      <svg></svg>
      <center><div class="legende">
        <button v-for="option in legende" type="button" class="btn btn--disabled btn--raised btn--round" :style="{'background-color': option.color+'!important'}">
          <div class="btn__content">{{ option.name }}</div>
        </button>
      </div></center>
    </main>
    <div class="tooltipBox">
    </div>
  </v-app>
  </div>

 <script src="js/d3.v4.min.js"></script>
 <script src="js/vue.min.js"></script>
 <script src="js/vuetify.min.js"></script>
 <script>
d3.timeFormat = d3.timeFormatLocale({
  "dateTime": "%A, le %e %B %Y, %X",
  "date": "%d/%m/%Y",
  "time": "%H:%M:%S",
  "periods": ["AM", "PM"],
  "days": ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
  "shortDays": ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
  "months": ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
  "shortMonths": ["Janv.", "Févr.", "Mars", "Avr.", "Mai", "Juin", "Juil.", "Août", "Sept.", "Oct.", "Nov.", "Déc."]
}).format;

new Vue({
  el: "#parole",
  data: {
    menus: [{
      id: "source",
      name: "Débats considérés",
      selected: "total",
      options: [{
        id: "total",
        name: "Commissions et Hémicycle",
        icon: "account_balance"
      }, {
        id: "commissions",
        name: "Commissions uniquement",
        icon: "mic"
      }, {
        id: "hemicycle",
        name: "Hémicycle uniquement",
        icon: "looks"
      }]
    }, {
      id: "facet",
      name: "Répartition entre",
      selected: "groupes",
      options: [{
        id: "groupes",
        name: "Groupes politiques",
        icon: "people",
        legende: [{
          name: "LFI",
          color: "#e53935"
        }, {
          name: "GDR",
          color: "#ff5252"
        }, {
          name: "NG",
          color: "#F06292"
        }, {
          name: "LREM",
          color: "#FFA726"
        }, {
          name: "MODEM",
          color: "#FF7043"
        }, {
          name: "LC",
          color: "#42A5F5"
        }, {
          name: "LR",
          color: "#5C6BC0"
        }, {
          name: "NI",
          color: "#BDBDBD"
        }]
      }, {
        id: "sexe",
        name: "Sexes",
        icon: "wc",
        legende: [{
          name: "Femmes",
          color: "#F48FB1"
        }, {
          name: "Hommes",
          color: "#90CAF9"
        }]
      }, {
        id: "oldnew",
        name: "Anciens et nouveaux élus",
        icon: "repeat",
        legende: [{
          name: "Députés réélus",
          color: "#B39DDB"
        }, {
          name: "Nouveaux députés",
          color: "#B2DFDB"
        }]
      }]
    }, {
      id: "view",
      name: "Affichage",
      multi: true,
      options: [{
        id: "cumul",
        name: "Cumulatif",
        icon: "timeline",
        selected: false
      }, {
        id: "prop",
        name: "Proportionnel",
        icon: "dashboard",
        selected: false
      }]
    }],
    data: [],
    legende: [],
    resizing: null
  },
  mounted: function() {
    window.addEventListener("hashchange", this.updateView);
    var last;
    d3.csv("data/parole-deputes.csv", function(d, idx, columns) {
      var key;
      d.date = new Date(d.date);
      for (var i=1, n=columns.length; i<n; i++) {
        key = columns[i].replace(/_[^_]*$/, "");
        d[columns[i]] = +d[columns[i]];
        d[columns[i]+"_cumul"] = d[columns[i]] + (last ? last[columns[i]+"_cumul"] : 0);
        d[key] = (d[key] || 0) + d[columns[i]];
        d[key+"_cumul"] = (d[key+"_cumul"] || 0) + d[columns[i]+"_cumul"];
      }
      for (var i=1, n=columns.length; i<n; i++) {
        key = columns[i].replace(/_[^_]*$/, "");
        d[columns[i]+"_prop"] = (d[key] ? d[columns[i]] / d[key] : 0);
        d[columns[i]+"_cumul_prop"] = (d[key+"_cumul"] ? d[columns[i]+"_cumul"] / d[key+"_cumul"] : 0);
      }
      last = d;
      return d;
    }, this.initData);
  },
  methods: {
    onResize: function() {
      clearTimeout(this.resizing);
      this.resizing = setTimeout(this.drawChart, 50);
    },
    selectOption: function(optionId, menuId, e) {
      var update = false;
      this.menus.forEach(function(m) { if (m.id === menuId) {
        if (m.multi) {
          m.options.forEach(function(o) { if (o.id === optionId) {
            o.selected = !o.selected;
            update = true;
          } });
        } else if (m.selected !== optionId) {
          m.selected = optionId;
          update = true;
        }
      } });
      if (update) this.setUrl();
    },
    setUrl: function() {
      window.location.hash = this.menus.map(function(m) {
        return m.id + "=" + ( m.multi ?
          m.options.filter(function(o) { return o.selected; })
            .map(function(o) { return o.id; })
            .join(",") :
          m.selected
        );
      }).filter(function(d) { return /=./.test(d); })
      .join("&");
    },
    readUrl: function() {
      var urlArgs = window.location.hash.slice(1).split(/&/),
        el;
      for (var i=0, n=urlArgs.length; i<n; i++) {
        el = urlArgs[i].split(/=/);
        this.menus
          .filter(function(m) { return m.id === el[0]; })
          .forEach(function(m) {
            if (m.multi) m.options
              .forEach(function(o) { o.selected = !!~el[1].indexOf(o.id); });
            else m.selected = el[1];
          });
      }
    },
    initData: function(data, error) {
      if (error) throw error;
      this.data = data;
      this.readUrl();
      this.setUrl();
    },
    updateView: function() {
      this.readUrl();
      this.drawChart();
    },
    drawChart: function() {
      var source = this.menus[0].selected,
        facet = this.menus[1].selected,
        facets = this.menus[1].options,
        views = [""]
          .concat(this.menus[2].options
            .filter(function(o) { return o.selected; })
            .map(function(o) { return o.id; })
          ).join("_"),
        cols = [source, facet].join("_"),
        colors = {};
      for (var i=0, n=facets.length; i<n; i++)
        if (facet === facets[i].id)
          this.legende = facets[i].legende;
      for (var i=0, n=this.legende.length; i<n; i++)
        colors[this.legende[i].name] = this.legende[i].color;

      var keys = this.legende.map(function(k) {
        return cols + "_" + k.name + views;
      });
      if (facet === "groupes") keys.reverse();

      var margin = {top: 50, right: 80, bottom: 140, left: 80},
        svgW = window.innerWidth - document.querySelector("aside").getBoundingClientRect().width,
        width = svgW - margin.left - margin.right,
        svgH = window.innerHeight - document.querySelector("nav").getBoundingClientRect().height,
        height = svgH - margin.top - margin.bottom,
        svg = d3.select("svg").attr("width", svgW).attr("height", svgH),
        xScale = d3.scaleTime().range([0, width])
          .domain(d3.extent(this.data, function(d) { return d.date; }))
          .nice(),
        yScale = d3.scaleLinear().range([height, 0]);

      if (!/prop/.test(views))
        yScale.domain([0, d3.max(this.data, function(d) { return d[cols + views]; })]);

      d3.select("svg g").remove();
      var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")"),
        stack = d3.stack().keys(keys),
        oneday = width / (xScale.domain()[1] - xScale.domain()[0]) * 86400000;

      g.append("g")
        .selectAll("g")
        .data(stack(this.data))
        .enter().append("g")
          .attr("fill", function(d) {
            return colors[d.key.replace(cols+"_", "").replace(/_(cumul|prop)/g, "")];
          })
        .selectAll("rect")
        .data(function(d) { return d; })
        .enter().append("rect")
          .attr("x", function(d) { return xScale(d.data.date); })
          .attr("y", function(d) { return yScale(d[1]); })
          .attr("width", oneday - 0.5)
          .attr("height", function(d) { return Math.max(0, yScale(d[0]) - yScale(d[1]) - 0.5); });

      g.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + (height) + ")")
        .call(d3.axisBottom(xScale).ticks(Math.floor(width / 175), d3.timeFormat("%d %b %y")));

      g.append("g")
        .selectAll("rect.tooltip")
        .data(this.data)
        .enter().append("rect")
          .classed("tooltip", true)
          .attr("x", function (d) { return xScale(d.date); })
          .attr("y", yScale.range()[1])
          .attr("width", oneday)
          .attr("height", yScale.range()[0] - yScale.range()[1])
          .on("mouseover", function (x, idx, rects){
            d3.select(rects[idx]).style("fill-opacity", 0.15);
            console.log(x);
          })
          .on("mousemove", function(e) {
            var x = d3.event.pageX - 100
            d3.select(".tooltipBox")
             .style("left", d3.event.pageX - 100 + "px")
             .style("top", d3.event.pageY + 40 + "px")
          //   .style("display", "block");
          })
          .on("mouseleave", function(x, idx, rects) {
            d3.select(rects[idx]).style("fill-opacity", 0);
            d3.select(".tooltipBox")
             .style("display", "none");
          })

      this.resizing = null;
    }
  }
});
/* TODO
- adjust tooltips;
https://vuetifyjs.com/directives/tooltips
 + fill values
 + style with material
- add transition d3 when switching view ?
- remove ripple ?
- add comparator with actual proportions when prop view
- add data (interventions courtes, amdmts déposés/adoptés, PPL, rapports, QE)
- other legislatures
- data updates
- add info button for credits
*/
 </script>
</body>
</html>
