<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <title>Parole - Regards Citoyens</title>
 <link href="css/roboto.css" rel="stylesheet">
 <link href="css/vuetify.min.css" rel="stylesheet">
<style>
html {
  overflow: hidden;
}
aside {
  height: 100%;
}
.navigation-drawer--permanent.navigation-drawer--clipped {
  max-height: calc(100vh);
}
.btn--floating.btn--small .icon {
  font-size: 30px;
}
.subheader {
  text-transform: uppercase;
}
.list [disabled] {
  background-color: #f44336;
  opacity: 1!important;
}
.chip {
  cursor: pointer;
}
.input-group--select .input-group__selections__comma {
  font-size: 14px;
}
.list__tile--active, .input-group.input-group--focused .input-group__append-icon, .application--dark .input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color: #f44336;
}
.unselected .list__tile--active, .unselected .input-group.input-group--focused .input-group__append-icon, .application--dark .unselected .input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color: white!important;
  opacity: 0.2!important;
}
.input-group.input-group--text-field:not(.input-group--single-line):not(.input-group--error).input-group--focused label {
  color: white;
}
.input-group.input-group--selection-controls.switch {
  left: 35%;
}
.application .selected .theme--light.switch.input-group--disabled .input-group--selection-controls__ripple:after {
  background-color: #f44336!important;
}
.application .selected .theme--light.switch.input-group--disabled .input-group--selection-controls__toggle {
  color: #f44336!important;
}
.input-group.input-group--dirty.input-group--hide-details.radio-group.radio-group--row {
  padding: 0;
}
.application--dark .input-group.radio:not(.input-group--error) label {
  font-size: 13px;
  text-transform: capitalize;
  margin-left: -5px
}
.axis path, .axis line {
  stroke: grey;
}
.axis text {
  fill: grey;
  font-size: 14px;
  font-family: Roboto;
}
.legende button {
  color: black!important;
  font-weight: bold;
  height: 50px;
  min-width: 125px;
  padding: 2px;
}
.legende button div {
  display: grid;
}
rect.tooltip {
  fill: black;
  fill-opacity: 0;
}
.tooltipBox {
  background: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  display: none;
  min-width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;
  font-size: 14px;
  z-index: 1000;
}
.dialog a, .dialog a:visited {
  color: grey;
  text-decoration: none;
}
.dialog a:hover, .dialog a:visited:hover {
  text-decoration: underline;
}
</style>
</head>
<body>
  <div id="parole">
  <v-app dark toolbar>
    <aside class="navigation-drawer navigation-drawer--absolute navigation-drawer--clipped navigation-drawer--is-booted navigation-drawer--is-mobile navigation-drawer--open navigation-drawer--permanent">
      <v-list dense
        v-for="list in menus"
        :key="list.id"
      >
        <v-subheader class="mt-3 grey--text text--darken-1">
          {{ list.name }}
          <v-spacer></v-spacer>
          <v-chip small outline close class="red--text"
            v-model="filters"
            v-if="list.filters"
            @input="clearFilters()"
            @click="clearFilters()"
          ><small>annuler</small></v-chip>
        </v-subheader>
        <v-list-tile ripple
          v-for="item in list.options"
          v-if="(!item.only || item.only === menus[0].selected) && !(list.filters && item.id === menus[1].selected)"
          :key="item.id"
          :disabled="list.selected === item.id"
          :class="{'selected': !list.filters && item.selected, 'unselected': list.filters && item.selected === 'total'}"
          @click="selectOption(item.id, list.id, list.filters || !!item.choices)"
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content v-if="!item.choices">
            <v-list-tile-title v-if="!item.filters">
              {{ item.name }}
            </v-list-tile-title>
            <v-select v-else auto
              v-model="item.selected"
              :label="item.name"
              :items="item.filters"
              item-text="name"
              item-value="id"
              class="input-group--focused"
              @change="selectOption(item.id, list.id, $event)"
            ></v-select>
          </v-list-tile-content>
          <v-radio-group v-else row hide-details v-model="item.selected"
              @change="selectOption(item.id, list.id, $event)">
            <v-radio small color="red" v-for="c in item.choices" :label="c" :value="c"></v-radio>
          </v-radio-group>
          <v-list-tile-action v-if="list.multi && !item.choices">
            <v-switch v-model="item.selected" light disabled></v-switch>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
      <div class="navigation-drawer__border"></div>
    </aside>
    <v-toolbar class="red" fixed>
      <v-toolbar-title>
        <a href="https://www.RegardsCitoyens.org" target="_blank" class="avatar mr-3">
          <img src="img/RC-avatar.png" title="Regards Citoyens" alt="RC">
        </a>
        Parole
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn fab small outline class="red ml-3" @click.native.stop="help=true">
        <v-icon medium class="red">help</v-icon>
      </v-btn>
    </v-toolbar>
    <main>
      <svg width=0 height=6000></svg>
      <center><div class="legende">
        <button v-for="option in legende" class="btn btn--disabled btn--raised" :style="{'background-color': option.color+'!important'}">
          <div class="btn__content">
            <span>{{ option.name || option.id }}</span>
            <span v-if="showValues && option.value"><small>{{ option.value }}&nbsp;{{ unit }}</small></span>
          </div>
        </button>
      </div></center>
    </main>
    <div class="tooltipBox"><center><b>{{ hoverDate }}</b></center></div>
    <v-dialog v-model="help" width="33%">
      <v-card>
        <v-card-title class="headline">Parole <small>&nbsp;&nbsp;par&nbsp;<a href="https://www.regardscitoyens.org" target="_blank">Regards Citoyens</a></small></v-card-title>
        <v-card-text>Réalisé à partir des <a href="https://github.com/regardscitoyens/nosdeputes.fr/blob/master/doc/opendata.md" target="_blank">données</a> de <a href="https://www.nosdeputes.fr" target="_blank">NosDéputés.fr</a> à l'aide de <a href="https://vuejs.org" target="_blank">VueJS</a> et <a href="https://vuetifyjs.com/" target="_blank">VuetifyJS</a>.</v-card-text>
        <v-card-text>Cette application est un logiciel libre sous licence AGPL dont le code source est <a href="https://github.com/rouxrc/parole" target="_blank">disponible sur GitHub</a>.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="red--text darken-1" flat @click.native="help = false">Fermer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
  </div>

 <script src="js/d3.v4.min.js"></script>
 <script src="js/vue.min.js"></script>
 <script src="js/vuetify.min.js"></script>
 <script>
d3.formatDefaultLocale({
  "decimal": ",",
  "thousands": " ",
  "grouping": [3],
  "currency": ["€", ""],
});
d3.timeFormatDefaultLocale({
  "dateTime": "%A, le %e %B %Y, %X",
  "date": "%d/%m/%Y",
  "time": "%H:%M:%S",
  "periods": ["AM", "PM"],
  "days": ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
  "shortDays": ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
  "months": ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
  "shortMonths": ["Janv.", "Févr.", "Mars", "Avr.", "Mai", "Juin", "Juil.", "Août", "Sept.", "Oct.", "Nov.", "Déc."]
});

d3.iso_jours = function(d) { return d3.timeFormat("%Y-%m-%d")(d); };
d3.iso_sems = function(d) {
  var dt = new Date(d - 86400000 * (d.getDay()-1));
  return d3.iso_jours(dt);
};
d3.iso_mois = function(d) {
  var dt = new Date(d);
  dt.setDate(1);
  return d3.iso_jours(dt);
};
d3.nextDate = function(d, dur) {
  var dt = new Date(d);
  if (dur === "mois") {
    dt.setMonth(dt.getMonth() + 1);
    dt.setDate(1);
  } else if (dur === "sems") {
    dt = new Date(d - 86400000 * (d.getDay()-1));
    dt.setDate(dt.getDate() + 7);
  } else dt.setDate(dt.getDate() + 1);
  return dt;
}

new Vue({
  el: "#parole",
  data: {
    menus: [{
      id: "activite",
      name: "Type d'activité",
      selected: "parole",
      options: [{
        id: "parole",
        name: "Temps de parole",
        icon: "mic",
        unit: "mots"
      }, {
        id: "amendements",
        name: "Amendements",
        icon: "spellcheck",
        unit: "amdts"
      }]
    }, {
      id: "facet",
      name: "Répartition entre",
      selected: "groupes",
      options: [{
        id: "groupes",
        name: "Groupes politiques",
        icon: "people",
        legende: [{
          id: "LFI",
          color: "#e53935"
        }, {
          id: "GDR",
          color: "#ff5252"
        }, {
          id: "NG",
          color: "#F06292"
        }, {
          id: "LREM",
          color: "#FFA726"
        }, {
          id: "MODEM",
          color: "#FF7043"
        }, {
          id: "LC",
          color: "#42A5F5"
        }, {
          id: "LR",
          color: "#5C6BC0"
        }, {
          id: "NI",
          color: "#BDBDBD"
        }]
      }, {
        id: "genre",
        name: "Genres",
        icon: "wc",
        legende: [{
          id: "F",
          name: "Femmes",
          color: "#F48FB1"
        }, {
          id: "H",
          name: "Hommes",
          color: "#90CAF9"
        }]
      }, {
        id: "renouveau",
        name: "Anciens et nouveaux élus",
        icon: "repeat",
        legende: [{
          id: "anciens",
          name: "Députés réélus",
          color: "#B39DDB"
        }, {
          id: "nouveaux",
          name: "Nouveaux députés",
          color: "#B2DFDB"
        }]
      }, {
        id: "debats",
        name: "Commissions & Hémicycle",
        icon: "looks",
        only: "parole",
        legende: [{
          id: "commissions",
          name: "Commissions",
          color: "#B39DDB"
        }, {
          id: "hemicycle",
          name: "Hémicycle",
          color: "#B2DFDB"
        }]
      }, {
        id: "interventions",
        name: "Invectives & Interventions",
        icon: "speaker_notes",
        only: "parole",
        legende: [{
          id: "invectives",
          name: "Invectives",
          color: "#B39DDB"
        }, {
          id: "longues",
          name: "Interventions longues",
          color: "#B2DFDB"
        }]
      }, {
        id: "sorts",
        name: "Sort des amendements",
        icon: "spellcheck",
        only: "amendements",
        legende: [{
          id: "Adopté",
          name: "Adoptés",
          color: "#69F0AE"
        }, {
          id: "Retiré",
          name: "Retirés",
          color: "#80D8FF"
        }, {
          id: "Tombe",
          name: "Tombés",
          color: "#B2DFDB"
        }, {
          id: "Non soutenu",
          name: "Non soutenus",
          color: "#FFE57F"
        }, {
          id: "Irrecevable",
          name: "Irrecevables",
          color: "#FFAB40"
        }, {
          id: "Rejeté",
          name: "Rejetés",
          color: "#ef9a9a"
        }, {
          id: "Indéfini",
          name: "Indéfinis",
          color: "#9E9E9E"
        }]
      }]
    }, {
      id: "filters",
      name: "Filtrer",
      filters: true,
      options: [{
        id: "groupes",
        name: "Groupe politique",
        icon: "person",
        selected: "total",
        filters: [{
          id: "total",
          name: "Tous les députés"
        }, {
          id: "LFI",
          name: "LFI"
        }, {
          id: "GDR",
          name: "GDR"
        }, {
          id: "NG",
          name: "NG"
        }, {
          id: "LREM",
          name: "LREM"
        }, {
          id: "MODEM",
          name: "MODEM"
        }, {
          id: "LC",
          name: "LC"
        }, {
          id: "LR",
          name: "LR"
        }, {
          id: "NI",
          name: "NI"
        }]
      }, {
        id: "genre",
        name: "Genre",
        icon: "person",
        selected: "total",
        filters: [{
          id: "total",
          name: "Tous les députés"
        }, {
          id: "F",
          name: "Femmes"
        }, {
          id: "H",
          name: "Hommes"
        }]
      }, {
        id: "renouveau",
        name: "Ancienneté",
        icon: "person",
        selected: "total",
        filters: [{
          id: "total",
          name: "Tous les députés"
        }, {
          id: "anciens",
          name: "Députés réélus"
        }, {
          id: "nouveaux",
          name: "Nouveaux députés"
        }]
      }, {
        id: "debats",
        name: "Débats",
        icon: "mic",
        only: "parole",
        selected: "total",
        filters: [{
          id: "total",
          name: "Tous les débats"
        }, {
          id: "commissions",
          name: "en Commissions"
        }, {
          id: "hemicycle",
          name: "en Hémicycle"
        }]
      }, {
        id: "interventions",
        name: "Interventions",
        icon: "mic",
        only: "parole",
        selected: "total",
        filters: [{
          id: "total",
          name: "Toutes les interventions"
        }, {
          id: "invectives",
          name: "Invectives ( - de 20 mots )"
        }, {
          id: "longues",
          name: "Interventions longues"
        }]
      }, {
        id: "sorts",
        name: "Amendements",
        icon: "spellcheck",
        only: "amendements",
        selected: "total",
        filters: [{
          id: "total",
          name: "Tous les amendements"
        }, {
          id: "Adopté",
          name: "Adoptés"
        }, {
          id: "Retiré",
          name: "Retirés"
        }, {
          id: "Tombe",
          name: "Tombés"
        }, {
          id: "Non soutenu",
          name: "Non soutenus"
        }, {
          id: "Irrecevable",
          name: "Irrecevables"
        }, {
          id: "Rejeté",
          name: "Rejetés"
        }, {
          id: "Indéfini",
          name: "Indéfinis"
        }]
      }]
    }, {
      id: "vue",
      name: "Affichage",
      multi: true,
      options: [{
        id: "cumul",
        name: "Cumulatif",
        icon: "timeline",
        selected: false
      }, {
        id: "prop",
        name: "Proportionnel",
        icon: "dashboard",
        selected: false
      }, {
        id: "temps",
        icon: "date_range",
        selected: "jours",
        choices: ["jours", "sems", "mois"]
      }]
    }],
    help: false,
    data: null,
    prop: false,
    unit: "mots",
    filters: null,
    hoverDate: "",
    showValues: false,
    legende: [],
    resizing: null
  },
  mounted: function() {
    this.readUrl();
    window.addEventListener("hashchange", this.readUrl);
    window.addEventListener("resize", this.onResize);
  },
  methods: {
    onResize: function() {
      clearTimeout(this.resizing);
      this.resizing = setTimeout(this.drawChart, 50);
    },
    selectOption: function(optionId, menuId, filterId) {
      if (filterId === true) return;
      this.oldactivity = ""+this.menus[0].selected;
      this.menus.filter(function(m) { return m.id === menuId; })
      .forEach(function(m) {
        if (m.multi || m.filters)
          m.options.filter(function(o) { return o.id === optionId;})
          .forEach(function(o) {
            o.selected = filterId || !o.selected;
          });
        else if (m.selected !== optionId) {
          m.selected = optionId;
        }
      });
      this.updateUrl();
    },
    clearFilters: function() {
      this.menus[2].options.forEach(function(o) { o.selected = "total"; });
      this.updateUrl();
    },
    updateUrl: function(menuId) {
      var activity = this.menus[0].selected;
      window.location.hash = this.menus.map(function(m) {
        return m.id + "=" + (m.multi ?
          m.options.filter(function(o) { return o.selected; })
          .map(function(o) { return o.id + (o.choices ? ":"+o.selected : ""); }) :
          (!m.filters ? [m.selected] :
            m.options.filter(function(o) { return o.selected !== "total" && (!o.only || o.only === activity); })
            .map(function(o) { return o.id + ":" + o.selected; })
          )
        ).join(",");
      }).filter(function(d) { return /=./.test(d); })
      .join("&");
    },
    readUrl: function() {
      var el, el2,
        facet = this.menus[1].selected,
        urlArgs = window.location.hash.slice(1).split(/&/);
      this.menus[2].options.forEach(function(o) { o.selected = "total"; });
      for (var i=0, n=urlArgs.length; i<n; i++) {
        el = urlArgs[i].split(/=/);
        this.menus.filter(function(m) { return m.id === el[0]; })
        .forEach(function(m) {
          if (m.multi) m.options.forEach(function(o) {
            o.selected = (o.choices ? el[1].replace(/^.*temps:([^,&]+)*$/, "$1") : !!~el[1].indexOf(o.id));
          });
          else if (m.filters) el[1].split(/,/).forEach(function(e) {
            el2 = e.split(/:/);
            m.options.filter(function(o) { return o.id === el2[0]; })
            .forEach(function(o) { o.selected = el2[1]; });
          });
          else m.selected = el[1];
        });
      }
      this.filters = this.menus[2].options.some(function(o) {
        return o.selected !== "total" && o.id !== facet;
      });
      var activity = this.menus[0].selected,
        facet = this.menus[1].selected;
      this.unit = this.menus[0].options.filter(function(o) { return activity === o.id; })[0].unit;
      this.legende = this.menus[1].options.filter(function(f) { return facet === f.id; })[0].legende;
      if (this.oldactivity !== activity || !this.data) {
        d3.select("svg g").remove();
        d3.csv("data/" + this.menus[0].selected + ".csv", function(d) {
          d.date = new Date(d.date);
          d.date.setHours(0);
          d.jours = d3.iso_jours(d.date);
          d.sems = d3.iso_sems(d.date);
          d.mois = d3.iso_mois(d.date);
          d.total = +d.total;
          return d;
        }, this.drawChart);
      } else this.$nextTick(this.drawChart);
      this.oldactivity = ""+activity;
    },
    drawChart: function(data, error) {
      // Handle ajax result
      if (error) throw error;
      if (data) this.data = data;

      // Clear unavailable facet choice
      var facets = this.menus[1],
        only = facets.options.filter(function(o) { return facets.selected === o.id; })[0].only;
      if (only && only !== this.menus[0].selected) {
        facets.selected = facets.options[0].id;
        return this.updateUrl();
      }

      // Read options
      var activity = this.menus[0].selected,
        facet = facets.selected,
        views = [""].concat(
          this.menus[3].options
          .filter(function(o) { return o.selected && !o.choices; })
          .map(function(o) { return o.id; })
        ).join("_"),
        temps = this.menus[3].options[2].selected,
        colors = {},
        cumul = /cumul/.test(views) ? "_cumul" : "";
      this.prop = /prop/.test(views);
      this.views = views;

      // Prepare legend & keys
      this.legende.forEach(function(k) { colors[k.id] = k.color; });
      var keys = this.legende.map(function(k) { return k.id; });
      if (facet === "groupes") keys.reverse();

      // Agregate and filter data
      var hashdata = {},
        filters = this.menus[2].options.filter(function(filter) {
          return (!filter.only || filter.only === activity) &&
            filter.id !== facet && filter.selected !== "total";
        });
      d3.nest()
      .key(function(d) { return d[temps]; })
      .key(function(d) { return d[facet]; })
      .rollup(function(lvs) { return d3.sum(lvs, function(d) {return d.total;}); })
      .entries(this.data.filter(function(d) { return filters.every(function(f) { return d[f.id] === f.selected; }); }))
      .forEach(function(k) {
        hashdata[k.key] = {};
        k.values.forEach(function(v) {
          hashdata[k.key][v.key] = v.value;
        });
      });

      // Build all dates data with cumul & prop
      var last = {},
        data = [],
        start = this.data[0].date,
        end = new Date(this.data[this.data.length - 1].date);
      end.setDate(end.getDate() + 1);
      d3.timeDay.range(start, end)
      .filter(function(d, idx) {
        return !idx || temps === "jours" ||
          (temps === "sems" && d.getDay() == 1) ||
          (temps === "mois" && d.getDate() == 1);
      }).map(function(d) {
        return {
          date: d,
          temps: d3["iso_"+temps](d)
        };
      }).forEach(function(d) {
        var o = {
          date: d.date,
          legend: (temps === "sems" ? "semaine du " : "") +
            d3.timeFormat((temps !== "mois" ? "%e " : "") + "%B %Y")(d.date),
          sum: 0,
          sum_cumul: 0
        };
        keys.forEach(function(k) {
          o[k] = (hashdata[d.temps] || {})[k] || 0;
          o.sum += o[k];
          o[k+"_cumul"] = o[k] + (last[k+"_cumul"] || 0);
          o.sum_cumul += o[k+"_cumul"];
        });
        keys.forEach(function(k) {
          o[k+"_prop"] = (o.sum ? o[k] / o.sum : 0);
          o[k+"_cumul_prop"] = (o.sum_cumul ? o[k+"_cumul"] / o.sum_cumul : 0);
        });
        data.push(o);
        last = o;
      });
      
      // Setup dimensions
      var margin = {top: 50, right: 80, bottom: 40, left: 80},
        svgW = window.innerWidth - document.querySelector("aside").getBoundingClientRect().width,
        width = svgW - margin.left - margin.right,
        svgH = window.innerHeight - document.querySelector("nav").getBoundingClientRect().height - document.querySelector(".legende").getBoundingClientRect().height - 20,
        height = svgH - margin.top - margin.bottom,
        svg = d3.select("svg").attr("width", svgW).attr("height", svgH),
        xScale = d3.scaleTime().range([0, width]).domain([start, end]),
        xPosition = function(d) { return xScale(d3.max([start, d.date || d.data.date])); },
        xWidth = function(d) { return xScale(d3.min([end, d3.nextDate(d.date || d.data.date, temps)])) - xPosition(d); },
        yScale = d3.scaleLinear().range([height, 0]);
      if (!this.prop)
        yScale.domain([0, d3.max(data, function(d) { return d["sum"+cumul]; })]);

      // Prepare svg
      d3.select("svg g").remove();
      var g = d3.select("svg")
      .attr("width", svgW)
      .attr("height", svgH)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      // Draw histogram
      g.append("g")
        .selectAll("g")
        .data(d3.stack().keys(keys.map(function(k) { return k + views; }))(data))
        .enter().append("g")
          .attr("fill", function(d) { return colors[d.key.replace(/_.*$/, "")] || "grey"; })
          .selectAll("rect")
          .data(function(d) { return d; })
          .enter().append("rect")
            .attr("x", xPosition)
            .attr("y", function(d) { return yScale(d[1]); })
            .attr("width", function(d) { return xWidth(d) - 0.5; })
            .attr("height", function(d) { return Math.max(0, yScale(d[0]) - yScale(d[1]) - 0.5); });

      // Draw axis
      g.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + (height) + ")")
        .call(d3.axisBottom(xScale).ticks(Math.floor(width / 175), d3.timeFormat("%d %b %y")));

      // Draw tooltips surfaces
      g.append("g")
        .selectAll("rect.tooltip")
        .data(data)
        .enter().append("rect")
          .classed("tooltip", true)
          .attr("x", xPosition)
          .attr("y", yScale.range()[1])
          .attr("width", xWidth)
          .attr("height", yScale.range()[0] - yScale.range()[1])
          .on("mouseover", function(d, idx, rects) { d3.select(rects[idx]).style("fill-opacity", 0.15); })
          .on("mousemove", this.displayTooltip)
          .on("mouseleave", this.clearTooltip);

      this.resizing = null;
    },
    displayTooltip: function(d) {
      this.hoverDate = d.legend;
      this.showValues = true;
      var tot = 0;
      for (var i=0, n=this.legende.length; i<n; i++) {
        var leg = this.legende[i];
        leg.value = d3.format(this.prop ? ".1%" : ",")(d[leg.id + this.views]);
        tot += d[leg.id + this.views];
      }
      d3.select(".tooltipBox")
      .style("left", d3.event.pageX - 50 + "px")
      .style("top", d3.event.pageY - 50 + "px")
      .style("display", (tot ? "block" : "none"));
    },
    clearTooltip: function(d, idx, rects) {
      this.showValues = false;
      d3.select(rects[idx]).style("fill-opacity", 0);
      d3.select(".tooltipBox").style("display", "none");
    }
  }
});
/* TODO
- adjust color/icons
- cache downloaded/computed data
- add activities (PPL, QE)
- add filter cumul ?
- add other legislatures
- add splitted view
- add transition d3 when switching view ?
- add comparator with actual proportions when prop view
- data updates
*/
 </script>
</body>
</html>
